@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
<img src="/imgs/logo2.png"  />

<p> Proyecto de cátedra de Base de Datos II</p>
<h3>3er año de Tecnicatura Superior de Software</h3>